---
import crypto from 'crypto';
import BaseLayout from '@layouts/BaseLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getLangFromUrl, getTranslations } from '@i18n';
import { ImageAnnotationDesktop } from '@apps/annotation-image';
import { TextAnnotationDesktop } from '@apps/annotation-text';
import { getDocumentInContext } from '@backend/helpers';

const lang = getLangFromUrl(Astro.url);

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${lang}/sign-in`);

const contextId = Astro.params.context;
const documentId = Astro.params.document;

if (!contextId || !documentId) {
  // Should never happen
  const error = await fetch(`${Astro.url}/404`);
  return new Response(error.body, { headers: error.headers, status: 404 }); 
}

// Will return empty if this user has no access priviliges
const document = await getDocumentInContext(supabase, documentId, contextId);
if (document.error || !document.data) {
  // https://javascript.plainenglish.io/return-custom-404-responses-in-astro-b844b0e0146d
  const error = await fetch(`${Astro.url}/404`);
  return new Response(error.body, { 
    headers: { 'Content-Type': 'text/html;charset=utf-8' },
    status: 404, 
    statusText: 'Not Found' 
  }); 
}

// Compute realtime channel key
const secret = import.meta.env.ROOM_SECRET || '';
const hash = crypto.createHash('sha256');
const data = hash.update(`${secret}.${contextId}.${documentId}`);

const channelId = data.digest('hex');

let viewer;

if (document.data.content_type === 'text/plain') {
  viewer = 'TEXT';
} else if (document.data.content_type === 'text/xml') {
  viewer = 'TEI';
} else if (document.data.meta_data?.protocol === 'IIIF_IMAGE') {
  viewer ='OPENSEADRAGON';
} else {
  // Should never happen
  const error = await fetch(`${Astro.url}/500`);
  return new Response(error.body, { headers: error.headers, status: 500 }); 
}
---
<BaseLayout title="Annotation">
  {viewer === 'OPENSEADRAGON' ? (
    <div class="container image">
      <ImageAnnotationDesktop 
        client:only
        i18n={getTranslations(Astro.request, 'annotation-image')}
        document={document.data}
        channelId={channelId} />
    </div>
  ) : (
    <TextAnnotationDesktop 
      client:only
      i18n={getTranslations(Astro.request, 'annotation-text')} 
      document={document.data}
      channelId={channelId} />
  )}
</BaseLayout>

<style>
  .container.image {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
</style>