---
import BaseLayout from '@layouts/BaseLayout.astro';
import { ProjectSidebar } from './ProjectSidebar';
import { getLangFromUrl, getTranslations } from '@i18n';
import type { ExtendedProjectData, MyProfile } from 'src/Types';

export interface Props {

	active: string;

  project: ExtendedProjectData;

  user: MyProfile;

}

const { active, project, user } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const i18n = getTranslations(Astro.request, 'project-sidebar');

const cookie = Astro.cookies.get('x-project-sidebar-collapsed');
---
<BaseLayout title={project.name}>	
  <ProjectSidebar 
    client:load 
    active={active} 
    collapsed={cookie.value === 'true'}
    i18n={i18n}
    user={user}
    project={project} />

  <div class="container">
    <header>
      <nav class="breadcrumbs">
        <ol>
          <li>
            <a href=`/${lang}/projects`>{i18n.t['Projects']}</a>
          </li>

          <li>
            <a>{project.name}</a>
          </li>
        </ol>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </div>
</BaseLayout>

<style>
  body {
		display: flex;
		flex-direction: row;
		position: relative;
	}

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    position: relative;
  }

  header {
    border-bottom: 1px solid var(--gray-200);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
  }

  main {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0;
    position: relative;
    width: 100%;
  }
</style>
