---
import ProjectLayout from '@layouts/project/ProjectLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getUserProfile } from '@backend/auth';
import { getProject } from '@backend/projects';
import { getLangFromUrl, getTranslations } from '@i18n';
import { ProjectHome } from '@apps/project-home';

const lang = getLangFromUrl(Astro.url);

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${lang}/sign-in`);

const user = await getUserProfile(supabase);

const projectId = Astro.params.slug;

const i18n = getTranslations(Astro.request, 'project-home');

const response = await getProject(supabase, projectId as string);
---
<ProjectLayout active="home" user={user} project={response.data}>
  {response.error ? (
    <div>Something went wrong</div>
  ) : (
    <ProjectHome project={response.data} i18n={i18n} />
  )}
</ProjectLayout>