---
import { getLangFromUrl } from '@i18n';
import config from '../config.json';

import '@themes/default/index.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const siteColor = config.branding.site_color;
const textColor = config.branding.contrast_color;
const backgroundColor = config.branding.background_color;

const favicon = `/${config.branding.favicon}` || '/favicon.svg';
---

<!DOCTYPE html>
<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='generator' content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href={favicon}>
    <title>{title}</title>
    <slot name="head" /> 
  </head>
  <body>
    <slot />
    <script>
      // @ts-ignore
      window.onUsersnapLoad = function (api: any) {
        api.init();
        api.show(import.meta.env.PUBLIC_USERSNAP_PROJECT_API_KEY);
      };

      var script = document.createElement('script');
      // @ts-ignore
      script.defer = 1;
      script.src = `https://widget.usersnap.com/global/load/${
        import.meta.env.PUBLIC_USERSNAP_GLOBAL_API_KEY
      }?onload=onUsersnapLoad`;

      document.getElementsByTagName('head')[0].appendChild(script);
    </script>
  </body>
</html>

<style define:vars={{ siteColor, backgroundColor, textColor }}></style>
