---
import { getLangFromUrl } from '@i18n';
import config from 'src/config.json';

import '@themes/default/index.css';

export interface Props {
  title: string;
}

import Footer from './Footer';
import Header from './Header';

const { title } = Astro.props;

const message = config.branding.footer_message;
const siteColor = config.branding.site_color;
const textColor = config.branding.contrast_color;
const useFooter = config.branding.bottom_logos_enabled;
const useHeader = config.branding.top_logos_enabled;
---

<!DOCTYPE html>
<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div class='branding-container'>
        <div class='platform'>
          {config.branding.platform_name}
        </div>
        <div class='separator'></div>
        <div class='site_name'>{config.branding.site_name}</div>
      </div>
      <div class='bottom_links'>
        {useHeader && <Header contrastColor={textColor} />}
      </div>
    </header>
    <div class='slot-container'>
      <slot />
    </div>
    <footer>
      <div class='blurb'>
        {message || ''}
      </div>
      <div class='bottom_links'>
        {useFooter && <Footer contrastColor={textColor} />}
      </div>
    </footer>
    <script>
      // @ts-ignore
      window.onUsersnapLoad = function (api: any) {
        api.init();
        api.show(import.meta.env.PUBLIC_USERSNAP_PROJECT_API_KEY);
      };

      var script = document.createElement('script');
      // @ts-ignore
      script.defer = 1;
      script.src = `https://widget.usersnap.com/global/load/${
        import.meta.env.PUBLIC_USERSNAP_GLOBAL_API_KEY
      }?onload=onUsersnapLoad`;

      document.getElementsByTagName('head')[0].appendChild(script);
    </script>
  </body>
</html>
<style define:vars={{ siteColor }}>
  body {
    height: 100%;
  }

  .slot-container {
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  header {
    align-items: center;
    background-color: var(--gray-900);
    border-bottom: 1px solid var(--gray-200);
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  footer {
    align-items: center;
    background-color: var(--gray-900);
    border-top: 1px solid var(--gray-200);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .branding-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .platform {
    color: white;
  }

  .separator {
    width: 2px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
  }

  .site_name {
    padding-left: 5px;
    color: var(--siteColor);
  }

  .blurb {
    color: white;
    font-size: 14px;
  }

  .top_links {
    display: flex;
    flex-direction: row;
  }
  .bottom_links {
    display: flex;
    flex-direction: row;
  }

  .link {
    width: 45px;
    height: 45px;
  }
</style>
