---
import { BrandFooter, BrandHeader } from '@components/Branding';
import { getLangFromUrl, getTranslations } from '@i18n';
import '@themes/default/index.css';
import config from 'src/config.json';

export interface Props {
  title: string;
}

const { title, footer = true } = Astro.props;
const i18n = getTranslations(Astro.request, 'branding');

const siteColor = config.branding.site_color;
const textColor = config.branding.contrast_color;
const backgroundColor = config.branding.background_color;

const favicon = `/${config.branding.favicon}` || '/favicon.svg';
---

<!doctype html>
<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <!-- HEAD-DYNAMIC-SCRIPT -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href={favicon} />
    <title>{title}</title>
  </head>
  <body>
    <BrandHeader />
    <div class='slot-container'>
      <slot />
    </div>
    { footer && (
      <BrandFooter i18n={i18n} />
    )}
    <script>
      // @ts-ignore
      window.onUsersnapLoad = function (api: any) {
        api.init();
        api.show(import.meta.env.PUBLIC_USERSNAP_PROJECT_API_KEY);
      };

      var script = document.createElement('script');
      // @ts-ignore
      script.defer = 1;
      script.src = `https://widget.usersnap.com/global/load/${
        import.meta.env.PUBLIC_USERSNAP_GLOBAL_API_KEY
      }?onload=onUsersnapLoad`;

      document.getElementsByTagName('head')[0].appendChild(script);
    </script>
  </body>
</html>
<style define:vars={{ siteColor, backgroundColor, textColor }}>
  body {
    height: 100%;
  }

  .slot-container {
    bottom: 0;
    flex-direction: column;
    margin: 60px 0 80px 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  footer {
    align-items: center;
    background-color: var(--backgroundColor);
    bottom: 0;
    color: var(--textColor);
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  header {
    align-items: center;
    background-color: var(--backgroundColor);
    box-sizing: border-box;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
</style>
